.header {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100px;
  background-color: var(--header-bgr-color);
  padding-inline-start: 165px;
}

.logo {
  width: 35px;
  height: 35px;
}

.line_logo {
  color: var(--header-line-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
}

.menu-block-nav {
  margin-left: auto;
  margin-right: 60px;
}

.menu-list-point {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.menu-list-point a:hover {
  color: var(--text-color-green);
}

.basket-purchase {
  margin-right: 165px;
}

.content {
  margin: 0 165px;
}

.chapter-content-company {
  display: flex;
  flex-direction: row;
  margin-left: 165px;
  margin-right: 78px;
}

.chapter-picture {
  min-height: 746px;
}

.chapter-block-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-top: 145px;
}

.chapter-title_company {
  font-size: 60px;
}

.style-title_company {
  color: var(--text-color-green);
}

.text {
  font-size: 18px;
  line-height: 150%;
}

.text-signature {
  font-size: 18px;
  color: var(--text-color-grey);
}

.text-nav {
  font-size: 20px;
}

.title {
  font-size: 40px;
}

.button-products {
  margin-top: 40px;
  outline: none;
}

.button-products:hover {
  background-color: var(--button-hover-bg-colot);
  color: var(--button-colot-text);
}

.button-products:focus:not(:focus-visible) {
  background-color: var(--button-focus-bg-color);
  color: var(--button-colot-text);
}

.button-products:focus-visible {
  border: 1px solid var(--button-focus-visible-border);
  background-color: var(--button-focus-visible-bg-color);
  color: var(--text-color-green);
}

.button-style {
  padding: 21px 60px;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid var(--border-button-color-green);
  color: var(--text-color-green);
  cursor: pointer;
}

.chapter-block-reproduction {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 70px 0px 30px;
}

.chapter-list-button_country {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-left: auto;
}

.button_country {
  background-color: var(--button-color-country);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 20px;
  color: var(--text-color-black);
  cursor: pointer;
  outline: none;
}

.button_country:hover {
  background-color: var(--button-hover-bg-colot);
  color: var(--button-colot-text);
}

.button_country:focus:not(:focus-visible) {
  background-color: var(--button-focus-bg-color);
  color: var(--button-colot-text);
}

.button_country:focus-visible {
  border: 2px solid var(--button-focus-visible-border);
  background-color: var(--button-focus-visible-bg-color);
  color: var(--text-color-black);
}

.card-list-item-picture {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.card-item-picture {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--card-picture-color);
  padding: 20px;
  height: 100%;
}

.picture {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card-text-author {
  color: var(--text-color-grey);
  padding: 12px 0px 2px;
}

.card-name-picture {
  font-size: 30px;
}

.card-parameter {
  padding-bottom: 22px;
  flex: 1;
}

.card-price_picture {
  font-size: 24px;
  color: var(--text-color-green);
}

.promo {
  background: url("../images/Rectangle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 574px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin: 70px 0;
}

.promo::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: var(--background-color-shadow);
  width: 70%;
  height: 100%;
}

.promo-block-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  margin: 70px 0px 0px 165px;
}

.promo-block-title {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.promo-icon {
  width: 80px;
  height: 80px;
}

.promo-title {
  color: var(--promo-title-color);
  max-width: 521px;
}

.promo-text {
  color: var(--text-color-white);
  max-width: 540px;
}

.promo-button {
  margin-top: 40px;
  background-color: var(--promo-button-color);
  border: 1px solid var(--border-button-color-black);
  color: var(--text-color-black);
}

.team-block-content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: relative;
  z-index: 1;
}

.team-picture_frame {
  width: 361px;
  height: 445px;
}

.team-block-picture_arm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.team-picture_arm {
  width: 269px;
  height: 340px;
  padding-left: 35px;
  padding-bottom: 5px;
}

.team-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.team-block-person {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 168px;
  background-color: var(--header-bgr-color);
  padding: 23px 165px 0px 165px;
}

.footer-block-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-bottom: 35px;
}

.menu-table th {
  padding-right: 60px;
  font-weight: 100;
  padding-bottom: 6px;
}

.menu-table td {
  padding-bottom: 6px;
}

.footer-list-item-platforms {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 10px;
}

.footer-platform {
  cursor: pointer;
}

.footer-special-text {
  font-size: 12px;
  color: var(--text-color-grey);
  padding-bottom: 6px;
}
