.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  height: 100px;
  background-color: var(--header-bgr-color);
  padding:  38px 165px;
}

.header-block-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.logo {
  width: 35px;
  height: 35px;
}

.line_logo {
  color: var(--header-line-color);
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
}

.menu-block-nav {
  margin-left: auto;
}

.menu-list-point {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

footer a:hover,
.menu-list-point a:hover,
.menu-table a:hover {
  color: var(--text-color-green);
}

footer a:focus-visible,
.menu-list-point a:focus-visible,
.menu-table a:focus-visible,
.menu-table th:focus-visible {
  outline: none;
  border: none;
  background-color: var(--nav-text-focus-visible-bg-color);
}

footer a:focus,
.menu-list-point a:focus,
.menu-table a:focus {
  color: var(--text-color-dark-green);
}

.basket-purchase:hover .icon {
  stroke: var(--icon-hover-bg-color);
}

.basket-purchase:focus .icon {
  stroke: var(--icon-focus-bg-color);
}

.content {
  margin: 70px 165px;
}

.chapter-content-company {
  display: flex;
  flex-direction: row;
  margin-left: 165px;
  margin-right: 165px;
}

.chapter-picture {
  min-height: 746px;
}

.chapter-block-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-top: 145px;
}

.chapter-title_company {
  font-size: var(--font-size-title-company);
}

.style-title_company {
  color: var(--text-color-green);
}

.text {
  font-size: 18px;
  line-height: 150%;
}

.text-signature {
  font-size: 18px;
  color: var(--text-color-grey);
}

.text-nav {
  font-size: 20px;
}

.title {
  font-size: var(--font-size-title);
}

.button-products {
  margin-top: 40px;
  outline: none;
}

.button-style:focus-visible,
.button-products:focus-visible {
  border: 2px solid var(--button-focus-visible-border);
  background-color: var(--button-focus-visible-bg-color);
  color: var(--text-color-green);
}

.button-style {
  padding: 21px 60px;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid var(--border-button-color-green);
  color: var(--text-color-green);
  cursor: pointer;
  outline: none;
}

.chapter-block-reproduction {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 30px;
}

.chapter-list-button_country {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-left: auto;
}

.button_country {
  background-color: var(--button-bg-color-country);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 20px;
  color: var(--text-color-black);
  cursor: pointer;
  outline: none;
}

.button-style:hover,
.button-products:hover,
.button_country:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-color-text);
}

.button-style:focus:not(:focus-visible),
.button-products:focus:not(:focus-visible),
.button_country:focus:not(:focus-visible) {
  background-color: var(--button-focus-bg-color);
  color: var(--button-color-text);
}

.button_country:focus-visible {
  border: 2px solid var(--button-focus-visible-border);
  background-color: var(--button-focus-visible-bg-color);
  color: var(--text-color-black);
}

.card-list-item-picture {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.card-item-picture {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--card-picture-bg-color);
  padding: 20px;
  height: 100%;
}

.picture {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.card-text-author {
  color: var(--text-color-grey);
  padding: 12px 0px 2px;
}

.card-name-picture {
  font-size: 30px;
}

.card-parameter {
  padding-bottom: 22px;
  flex: 1;
}

.card-price_picture {
  font-size: 24px;
  color: var(--text-color-green);
}

.promo {
  background: url("../images/Rectangle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 574px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.promo::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: var(--background-color-shadow);
  width: 70%;
  height: 100%;
}

.promo-block-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  margin: 70px 0px 0px 165px;
}

.promo-block-title {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.promo-icon {
  width: 80px;
  height: 80px;
}

.promo-title {
  color: var(--promo-title-color);
  max-width: 521px;
}

.promo-text {
  color: var(--text-color-white);
  max-width: 540px;
}

.promo-button {
  margin-top: 40px;
  background-color: var(--promo-button-color);
  border: 1px solid var(--border-button-color-black);
  color: var(--text-color-black);
  outline: none;
}

.promo-button:hover {
  background-color: var(--promo-button-hover-bg-color);
  color: var(--text-color-black);
}

.promo-button:focus:not(:focus-visible) {
  background-color: var(--promo-button-focus-bg-color);
  color: var(--text-color-black);
}

.promo-button:focus-visible {
  background-color: var(--promo-button-focus-visible-bg-color);
  border: 3px solid var(--promo-button-border-color);
  color: var(--text-color-black);
}

.team-block-content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: relative;
  z-index: 1;
}

.team-picture_frame {
  width: 361px;
  height: 445px;
}

.team-block-picture_arm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.team-picture_arm {
  width: 269px;
  height: 340px;
  padding-left: 35px;
  padding-bottom: 5px;
}

.team-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.team-block-person {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 168px;
  background-color: var(--header-bgr-color);
  padding: 23px 165px;
}

.footer-block {
  display: flex;
  flex-direction: column;
}

.footer-block-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-bottom: 35px;
}

.menu-table th {
  padding-right: 60px;
  font-weight: 100;
  padding-bottom: 6px;
}

.menu-table td {
  padding-bottom: 6px;
}

.footer-block-menu {
  display: contents;
}

.footer-list-item-platforms {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 10px;
}

.platforms {
  cursor: pointer;
}

.platforms:hover .main-body {
  fill: var(--icon-hover-bg-color);
}

.platforms:focus .main-body {
  fill: var(--icon-focus-bg-color);
}

.platforms:focus-visible svg {
  fill: var(--icon-focus-visible-bg-color);
  box-shadow: inset 0 0 0 6px var(--icon-focus-visible-box-shadow);
}

.footer-special-text {
  font-size: 12px;
  color: var(--text-color-grey);
  padding-bottom: 6px;
}

@media (max-width: 1439px) {
  .header {
    padding-inline-start: 39px;
    padding-inline-end: 39px;
    gap: 6px;
  }

  .menu-list-point {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .content {
    margin-left: 39px;
    margin-right: 39px;
  }

  .chapter-content-company {
    margin-left: 39px;
    margin-right: 39px;
  }

  .chapter-picture {
    min-height: auto;
    width: 330px;
  }

  .chapter-block-text {
    margin-top: 35px;
  }

  .button-products {
    margin-top: 20px;
  }

  .card-list-item-picture {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .promo {
    height: 545px;
    object-fit: fill;
  }

  .promo-block-content {
    margin: 70px 37px 70px 39px;
  }

  .promo-button {
    margin-top: 10px;
  }

  .team-picture_frame {
    width: 75%;
    height: 400px;
    margin-top: 40px;
  }

  .team-block-content {
    display: flex;
    flex-direction: column;
  }

  .team-picture_arm {
    width: 50%;
    height: 600px;
    padding-left: 50px;
    padding-bottom: 200px;
  }

  .team-block {
    gap: 30px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    padding-right: 39px;
    padding-left: 39px;
    height: 250px;
  }

  .footer-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .footer-block-telephone {
    display: flex;
    flex-direction: column;
  }

  .footer-block-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;
  }
}

@media (max-width: 689px){
  .header {
    display: flex;
    flex-direction: column;
  height: 123px;
  padding:  16px 33px;
}

.header-block-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 100%;
  padding-bottom: 11px; 
  border-bottom: 2px solid var(--line-color); 
  opacity: 0.5;
}

.menu-block-nav {
  margin-left: 0;
  padding-top: 11px;
}
}