.header {
  display: flex;
  flex-direction: row;
  height: 100px;
  background-color: var(--header-bgr-color);
  padding: 38px 165px;
}

.header-block-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.line_logo {
  color: var(--header-line-color);
  font-size: 20px;
  font-weight: 700;
}

  .block-nav-stripes {
  display: none;
  background-color: transparent;
  border: none;
  padding-top: 4px;
}

.header-menu-list-item summary {
  list-style: none;
  cursor: pointer;
  margin-left: 0;
}

.header-menu-list-item summary svg:first-child {
  display: none;
}

.menu-content{
  display: none;
  flex-direction: column;
  gap: 50px;
  height: 270px;
  padding-top: 30px;
}

.menu-block-nav {
  display: flex;
  margin-left: auto;
}

.menu-list-point {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

footer a:hover,
.menu-list-point a:hover,
.menu-table a:hover {
  color: var(--text-color-green);
}

footer a:focus-visible,
.menu-list-point a:focus-visible,
.menu-table a:focus-visible,
.menu-table th:focus-visible {
  outline: none;
  border: none;
  background-color: var(--nav-text-focus-visible-bg-color);
}

footer a:focus,
.menu-list-point a:focus,
.menu-table a:focus {
  color: var(--text-color-dark-green);
}

.basket-purchase {
  margin-left: 60px;
}

.block-nav-stripes:hover,
.basket-purchase:hover .icon {
  stroke: var(--icon-hover-bg-color);
}

.block-nav-stripes:focus,
.basket-purchase:focus .icon {
  stroke: var(--icon-focus-bg-color);
}

.content {
  margin: 0px 165px 70px 165px;
}

.chapter-content-company {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.chapter-block-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  margin-top: 145px;
}

.chapter-title_company {
  font-size: 60px;
}

.style-title_company {
  color: var(--text-color-green);
}

.text {
  font-size: 18px;
  line-height: 150%;
}

.text-signature {
  font-size: 18px;
  color: var(--text-color-grey);
}

.text-nav {
  font-size: 20px;
}

.title {
  font-size: 40px;
}

.button-products {
  margin-top: 40px;
}

.button-style:focus-visible,
.button-products:focus-visible {
  border: 2px solid var(--button-focus-visible-border);
  background-color: var(--button-focus-visible-bg-color);
  color: var(--text-color-green);
}

.button-style {
  padding: 21px 60px;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid var(--border-button-color-green);
  color: var(--text-color-green);
  cursor: pointer;
  outline: none;
}

.chapter-block-reproduction {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 30px;
}

.chapter-list-button_country {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-left: auto;
}

.button_country {
  background-color: var(--button-bg-color-country);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 20px;
  color: var(--text-color-black);
  cursor: pointer;
  outline: none;
}

.button-style:hover,
.button-products:hover,
.button_country:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-color-text);
}

.button-style:focus:not(:focus-visible),
.button-products:focus:not(:focus-visible),
.button_country:focus:not(:focus-visible) {
  background-color: var(--button-focus-bg-color);
  color: var(--button-color-text);
}

.button_country:focus-visible {
  border: 2px solid var(--button-focus-visible-border);
  background-color: var(--button-focus-visible-bg-color);
  color: var(--text-color-black);
}

.card-list-item-picture {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.card-item-picture {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: var(--card-picture-bg-color);
  padding: 20px 20px 30px 20px;
}

.picture {
  width: 100%;
  height: 422px;
  object-fit: cover;
}

.card-text-author {
  color: var(--text-color-grey);
  font-size: 18px;
}

.card-name-picture {
  font-size: 30px;
}

.card-parameter {
  flex: 1;
  padding-bottom: 30px;
}

.card-price_picture {
  font-size: 24px;
  color: var(--text-color-green);
}

.promo {
  background: url("../images/Rectangle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 574px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-bottom: 70px;
}

.promo::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  background: var(--background-color-shadow);
  width: 70%;
  height: 100%;
}

.promo-block-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  margin-top: 70px;
  margin-left: 165px;
}

.promo-block-title {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.promo-title {
  color: var(--promo-title-color);
  max-width: 521px;
}

.promo-text {
  color: var(--text-color-white);
  max-width: 540px;
}

.promo-button {
  margin-top: 40px;
  background-color: var(--promo-button-color);
  border: 1px solid var(--border-button-color-black);
  color: var(--text-color-black);
  outline: none;
}

.promo-button:hover {
  background-color: var(--promo-button-hover-bg-color);
  color: var(--text-color-black);
}

.promo-button:focus:not(:focus-visible) {
  background-color: var(--promo-button-focus-bg-color);
  color: var(--text-color-black);
}

.promo-button:focus-visible {
  background-color: var(--promo-button-focus-visible-bg-color);
  border: 3px solid var(--promo-button-border-color);
  color: var(--text-color-black);
}

.team-block-content {
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: relative;
  z-index: 1;
}

.team-picture_frame {
  width: 361px;
  height: 445px;
}

.team-block-picture_arm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.team-picture_arm {
  width: 269px;
  height: 340px;
  padding-left: 35px;
  padding-bottom: 5px;
}

.team-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.team-block-person {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 168px;
  background-color: var(--header-bgr-color);
  padding: 23px 165px;
}

.footer-block {
  display: flex;
  flex-direction: column;
}

.footer-block-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  padding-bottom: 35px;
}

.menu-table th {
  padding-right: 60px;
  font-weight: 100;
  padding-bottom: 6px;
}

.menu-table td {
  padding-bottom: 6px;
}

.footer-block-menu {
  display: contents;
}

.footer-block-platforms {
  display: flex;
  flex-direction: column;
}

.footer-list-item-platforms {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 10px;
}

.platforms {
  cursor: pointer;
}

.platforms:hover .main-body {
  fill: var(--icon-hover-bg-color);
}

.platforms:focus .main-body {
  fill: var(--icon-focus-bg-color);
}

.platforms:focus-visible svg {
  fill: var(--icon-focus-visible-bg-color);
  box-shadow: inset 0 0 0 6px var(--icon-focus-visible-box-shadow);
}

.footer-special-text {
  font-size: 12px;
  color: var(--text-color-grey);
  padding-bottom: 6px;
}

@media (max-width: 1439px) {
  body {
    min-inline-size: 768px;
  }

  .header {
    padding: 39px 38px;
    gap: 6px;
  }

  .menu-list-point {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .title {
    font-size: clamp(1.875rem, 1.3rem + 1.3333vw, 2.5rem);
  }

  .content {
    margin: 0px 39px 70px 39px;
  }

  .chapter-picture {
    max-height: 380px;
    width: 330px;
  }

  .chapter-title_company {
    font-size: clamp(2.5rem, 1.35rem + 2.6667vw, 3.75rem);
  }

  .chapter-block-text {
    margin-top: 25px;
  }

  .button-products {
    margin-top: 20px;
  }

  .card-list-item-picture {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .picture {
    object-fit: cover;
    flex-shrink: 0;
  }

  .promo {
    height: 545px;
  }

  .promo-block-content {
    margin: 70px 39px;
  }

  .promo-button {
    margin-top: 10px;
  }

  .team-picture_frame {
    width: 413px;
    height: 335px;
    margin-top: 65px;
  }

  .team-block-content {
    display: flex;
    flex-direction: column;
  }

  .team-picture_arm {
    width: 308px;
    height: 400px;
    padding-left: 23px;
    padding-bottom: 40px;
  }

  .team-block {
    gap: 30px;
  }

  .footer {
    display: flex;
    flex-direction: column;
    height: 250px;
    padding: 23px 39px;
  }

  .footer-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .footer-block-telephone {
    display: flex;
    flex-direction: column;
  }

  .footer-block-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-right: 20px;
  }
}

@media (max-width: 689px) {
  body {
    min-inline-size: 600px;
  }

  .header {
    display: flex;
    flex-direction: column;
    height: 123px;
    padding: 16px 33px;
  }

  .header-foter-line {
    justify-content: center;
    width: 100%;
    padding-bottom: 11px;
    border-bottom: 2px solid var(--line-color);
  }

  .menu-block-nav {
    margin-left: 0;
    padding-top: 11px;
  }

  .basket-purchase {
    margin-left: auto;
  }

  .content {
    margin: 50px 33px;
  }

  .title {
    font-size: clamp(1.5rem, 0.4375rem + 3.3333vw, 1.875rem);
  }

  .chapter-picture {
    min-height: 239px;
    width: 195px;
  }

  .chapter-title_company {
    font-size: clamp(2.25rem, 1.5417rem + 2.2222vw, 2.5rem);
  }

  .chapter-block-text {
    margin-top: 0px;
    gap: 10px;
  }

  .button-products {
    margin-top: 1px;
  }

  .text {
    font-size: 16px;
  }

  .button-style {
    padding: 14px 41px;
    font-size: 18px;
  }

  .chapter-block-reproduction {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .chapter-list-button_country {
    margin-left: 0;
  }

  .button_country {
    background-color: var(--button-bg-color-country);
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 18px;
    color: var(--text-color-black);
    cursor: pointer;
    outline: none;
  }

  .picture {
    height: auto;
    object-fit: contain;
    flex-shrink: 0;
  }

  .card-name-picture {
    font-size: 24px;
  }
  .card-parameter {
    font-size: 16px;
    white-space: nowrap;
  }

  .card-text-author {
    font-size: 16px;
  }

  .card-price_picture {
    font-size: 20px;
  }

  .promo {
    height: 439px;
    margin-bottom: 0px;
  }

  .promo-block-content {
    margin: 50px 33px;
  }

  .promo-logo {
    width: 50px;
    height: 50px;
  }

  .team-picture_frame {
    width: 303px;
    height: 246px;
    margin-top: 52px;
  }

  .team-picture_arm {
    width: 226px;
    height: 268px;
    padding-bottom: 0px;
    padding-left: 22px;
  }

  .team-block {
    gap: 20px;
  }

  .footer {
    height: 319px;
  }
  .footer-block-logo {
    padding-bottom: 30px;
  }

  .footer-block-menu {
    display: flex;
    flex-direction: column;
    padding-right: 0px;
  }

  .menu-table {
    text-align: left;
  }

  .footer-block-platforms {
    align-items: center;
    padding-top: 16px;
  }

  .footer-special-wrapper {
    display: flex;
    flex-direction: row;
  }

  .text-signature {
    font-size: 16px;
  }
}

@media (max-width: 509px) {
  body {
    min-inline-size: 320px;
  }

  .header {
    height: 68px;
    background-color: var(--header-bgr-color-white);
    padding: 0px;
    gap: 0;
  }

  .header-block-logo {
    padding: 16px 88px;
    height: 68px;
    background-color: var(--header-bgr-color-white);
    margin-bottom: 16px;
  }

  .header-foter-line {
margin-bottom: 0px;
  }

  .block-nav-stripes{
    display: block;
  }

  .header-menu-list-item[open] summary svg:first-child {
  display: block;
}

.header-menu-list-item[open] summary svg:last-child {
  display: none;
}

  .menu-content{
  display: flex;
}

  .menu-list-point {
    display: none;
  }

  .menu-block-nav {
    background-color: var(--header-bgr-color);
    padding-top: 0px;
    padding: 16px 15px;
  }

  .chapter-content-company {
    margin-top: 60px;
  }

  .content {
    margin: 60px 15px;
  }

  .chapter-block-text {
    margin-top: 60px;
    gap: 20px;
  }

  .chapter-picture {
    display: none;
  }

  .button-products {
    margin-top: 20px;
  }

  .text {
    font-size: 14px;
  }

  .button-style {
    padding-left: 29px;
    padding-right: 29px;
    font-size: 18px;
  }

  .card-list-item-picture {
    display: grid;
    grid-template-columns: 1fr;
  }

  .picture {
    width: auto;
    height: 300px;
    object-fit: cover;
  }

  .promo {
    height: 540px;
  }

  .promo-block-title {
    gap: 10px;
    align-items: normal;
  }

  .promo-block-content {
    margin: 50px 15px;
  }

  .promo-button {
    width: 100%;
  }

  .team-picture_frame {
    width: 290px;
    height: 246px;
    margin-top: 52px;
  }

  .team-picture_arm {
    padding-bottom: 4px;
    padding-left: 17px;
  }

  .team-block-person {
    gap: 25px;
  }

  .footer {
    height: 552px;
    padding: 20px 15px;
  }

  .footer-block {
    display: flex;
    flex-direction: column;
  }

  .footer-block-menu{
    display: block;
  }

   .menu-table{
    display: flex;
   }


}
