:root{
    --header-bgr-color: #E1EDE6;
    --header-line-color: #598D66;
    --text-color-black: #2C2D35;
    --text-color-green: #598D66;
    --text-color-grey: #86928B;
    --border-button-color: #598D66;

    --button-color-country: #D4E8D9;

    --card-picture-color:#E1EDE6;
     

}